body {
  margin-top: 0px;
  margin-bottom: 0px;
  color: #000;
  font-family: 'Merriweather', serif;
  font-size: 25px;
}

label {
  font-size: 15px;
  font-weight: 100;
}

header {
  /*min-height: 100vh;*/
  background: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,.7)), url(https://blackrockdigital.github.io/startbootstrap-creative/img/header.jpg) no-repeat center center;
  background-size: cover;
  background-position: center;
  color: #fff;
}

.header-content {
  text-align: center;
  padding-top: 50px;

}

.headerHR {
  border-color: #F05F40 !important;
  border-width: 3px;
  max-width: 50px;
}


.header-content h1 {
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 30px;
}

.projectImage {
  height: 200px;
  /*width: 350px;*/
  width: 300px; 
  border-radius: 10px;
}

.projectHR {
  margin-top: 100px;
  margin-bottom: 100px;
}

.techImage {
  height: 60px;
  width: 110px;
  margin-right: 20px;
}

.roundImage {
  width: 150px;
  border-radius: 50%;
}

#PROJECTS p,
ul {
  font-size: 20px;
  text-transform: none;
}

#githubButton {
  margin-right: 10px;
  background-color: #FFF;
  color: rgb(102, 43, 129);
}

#linkedinButton {
  color: rgb(0, 123, 182)
}

#moveForward {
  margin-top: 100px;
  margin-bottom: 50px;
}

#downArrow {
  color: white;
}

.btn{
  margin-right: 10px;
}

.footer{
  height: 100px;
}

.contactPadding {
  margin-top: 50px;
}

.contactButtonPadding{
  margin-top: 20px;
}

label{
  font-size: 20px;
}

.btn{
  font-size: 20px;
}