body {
  margin-top:0px;
  margin-bottom:0px;
  color: #000;
}

p {
  font-size: 25px;
}

label{
  font-size: 15px;
  font-weight: 100;
  text-align: left !important;
}

.row{
  margin-bottom: 20px;
}

header {
  min-height: 100vh;
  background: url(https://blackrockdigital.github.io/startbootstrap-creative/img/header.jpg) no-repeat center center;
  background-size: cover; 
  background-position: center;
  color: #fff;
}

.header-content {
  text-align: center;
  padding: 100px 15px;
}

.header-content hr {
  border-color: #F05F40 !important;
  border-width: 3px;
  max-width: 50px;
}

.header-content h1 {
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 30px;
}

.circularImage{
  height: 200px;
  width: 300px;
  border-radius:10px;
  margin-bottom:20px;
}

.roundImage{
  margin-bottom:20px;
}

.leftAlign {
  text-align: left;
}

.opaque-navbar {
    background-color: rgba(0,0,0,0.5);
    height: 50px;
    border-bottom: 0px;
    transition: background-color .5s ease 0s;
}

#EXPERIENCES{
  background-color: #4b4340;
}

#EXPERIENCES h1, h2 {
  color: white;
}

#EXPERIENCES p,ul {
  font-size: 20px;
  text-transform: none;
  color: #fff;
}

#githubButton{
  margin-right: 10px;
  background-color: #FFF;
  color: rgb(102,43,129);
}

#moveForward{
  margin-top: 150px;
}
#downArrow{
  color: white;
}