body {
  color: #000;
  font-family: 'Merriweather', serif;
  font-size: 25px;
}

.header-content {
  text-align: center;
}

.header-content h1 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 30px;
}

.btn--downarrow--margin {
  margin: 50px 0;
}

.btn--downarrow--color {
  color: white;
}

.footer{
  height: 100px;
}

.fa-chevron-down {
  font-size: 1.5em;
}

#email-button, #linkedin-button {
  color: white;
}

#email-button:hover, #linkedin-button:hover {
  color: #007bff;
}
