body {
  margin-top: 0px;
  margin-bottom: 0px;
  color: #000;
}

p {
  font-size: 25px;
}

label {
  font-size: 15px;
  font-weight: 100;
  text-align: left !important;
}

.row {
  margin-bottom: 20px;
}

header {
  min-height: 100vh;
  background: url(https://blackrockdigital.github.io/startbootstrap-creative/img/header.jpg) no-repeat center center;
  background-size: cover;
  background-position: center;
  color: #fff;
}

.header-content {
  text-align: center;
  padding: 100px 15px;
}

.header-content hr {
  border-color: #F05F40 !important;
  border-width: 3px;
  max-width: 50px;
}

.header-content h1 {
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 30px;
}

.projectImage {
  height: 200px;
  width: 300px;
  border-radius: 10px;
  margin-bottom: 20px;
}

.techImage{
  height: 200px;
  width: 400px;
  margin-right: 20px;
  margin-bottom: 20px;
}
.roundImage {
  margin-bottom: 20px;
}

.leftAlign {
  text-align: left;
}

#PROJECTS {
  background-color: rgb(69, 62, 61);
  color: #fff;
}

#PROJECTS h1,
h2 {
  color: #FFF;
}

#PROJECTS p,
ul {
  font-size: 20px;
  text-transform: none;
  color: #fff;
}

#githubButton {
  margin-right: 10px;
  margin-left: 10px;
  background-color: #FFF;
  color: rgb(102, 43, 129);
}

#moveForward {
  margin-top: 150px;
}

#downArrow {
  color: white;
}

#linkedinButton {
 color: rgb(0, 123, 182) 
}
